body {
    background: #2774ae;
    background: linear-gradient(
      to right,
      #2774ae,#002E5D,#002E5D
    );
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 75px;
}

.container {
    max-width: 500px;
    max-height: 400px;
    background-color: #072c60;
    color: white;
    border: 1px solid white;
    margin: 150px auto 0px;
    padding: 10px;
    border-radius: 15px;
}

input {
    height: 30px;
    width: 60%;
    font-size: 15px;
}

button {
    height: 35px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: white;
    transition: 0.3s ease;
}
button:hover {
    background: #a0a0a0;
    color: white;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 17px;
}